/serviceAccountKey.json
*.log
/Logs/
/amore_flask_venv/
*.pyc
/.idea/
*.DS_Store
Services/__pycache__/__init__.cpython-38.pyc
Services/__pycache__/fetchprofiles.cpython-38.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
test.py
MyFile.txt
env/*
env
/.vscode
